body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: block; /* Change from 'flex center' if you want it to scroll naturally */
}
